{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mininotes</title>
    <link rel="stylesheet" type="text/css" href='{% static "home/style.css" %}'>
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
	<a class="welcome" href={% url 'go_home' %}>Home</a>
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}


    </nav>
    <div style="margin: 20px;">
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>
