{% extends "base.html" %}
{% load static %}


{% block content %}

<h1> Home </h1>

<h2>Postoffice</h2>
<div class="image-link-menu">
	<a class="image-link" href={% url 'postoffice:home' %}>
		<div class="image-link-background" style="background-image: url('{% static "postoffice/images/envelope_weird_group_2.svg" %}'); background-repeat: repeat;"><span>Postoffice</span></div>
	</a>

	<a class="image-link" href={% url 'birthday:home' %}>
		<div class="image-link-background" style="background-image: url('{% static "postoffice/images/envelope_weird_group_2.svg" %}'); background-repeat: repeat;"><span>Birthdays</span></div>
	</a>

	<a class="image-link" href={% url 'notes:home' %}>
		<div class="image-link-background" style="background-image: url('{% static "postoffice/images/envelope_weird_group_2.svg" %}'); background-repeat: repeat;"><span>Notes</span></div>
	</a>

	<a class="image-link" href={% url 'admin:index' %}>
		<div class="image-link-background" style="background-image: url('{% static "postoffice/images/envelope_weird_group_2.svg" %}'); background-repeat: repeat;"><span>Django Admin</span></div>
	</a>
</div>


{% endblock content %}
