{% extends 'postoffice/base.html' %}
{% load static %}
{% block content %}
        {% if error_msg %}
    <section>
            <p class="error-bg paragraph-container">There was a problem: {{ error_msg }} </p>
    </section>
        {% endif %}
        {% if success_msg %}
    <section>
            <p class="success-bg">Success! {{ success_msg }} </p>
    </section>
        {% endif %}
    <section>
        <h3>If you want to keep this message on the server for someone to unlock it later, please encrypt it by setting a passcode reminder (i.e. "What was your favorite color in 1999?") and a passcode that answers your reminder.</h3> 
        <form method="POST" action="{% url 'postoffice:encrypt' envelope.primary_key %}">
            <div class="neutral-bg container">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="container">
                <input class="neutral-bg" type="submit" name="submit" value="Encrypt Message">
            </div>
        </form>
    </section>
    <section>
        <h3>Would you like to delete this message?</h3>
        <form method="POST" action="{% url 'postoffice:delete_item' envelope.primary_key %}">
            {% csrf_token %}
            <div class="container">
                <input class="neutral-bg" type="submit" name="submit" value="Delete Message">
            </div>
        </form>
    </section>

{% endblock %}
