{% extends 'postoffice/base.html' %}
{% load static %}
    {% block content %}
        <h2>Inbox</h2>
        <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Find Envelope">

        </form>

        {% if envelope %}
            <h2>Hello, I think you might be {{ envelope.recipient_name }}. We have an item for you!</h2>
            <a href="{% url 'postoffice_encrypt' envelope.primary_key %}">{{ envelope }}</a>
        {% else %}
            <p>Sorry, we don't have an item with that primary key!</p>
        {% endif %}

    {% endblock %}
</body>
</html>
