{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mininotes</title>
    <link rel="stylesheet" type="text/css" href='{% static "notes/style.css" %}'>
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
	    <a class="welcome" href="/">Home</a>
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}


    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>
